@font-face {
	font-family: 'stick';
	src: url('./Stick-Regular.ttf'); 
}


html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  margin: 0;

}
h1{
  position: absolute;
  font-size: 120px;
  font-family:stick;
  color: #ccc;
  text-shadow: 2px 2px #000088;
  z-index: -1;
  bottom: 50px;

}
h2{
  position: absolute;
  font-size: 40px;
  font-family:stick;
  color: #005588;
  text-shadow: 2px 2px #001166;
  z-index: -1;
}