@font-face {
  font-family: "stick";
  src: url("./Stick-Regular.ttf");
}

html,
body {
  height: 100%;
  background-color: #010919;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}
.name {
  position: absolute;
  display: flex;
  font-family: stick;
  color: #010919;
  /*
 color: #00a;
  */
  text-shadow: 2px 2px #ccc;
  bottom: 15vh;
}
canvas{
  z-index: 0;
}
.ricardo,
.caetano {
  display: flex;
}
.capital {
  font-size: 8em;
  display: flex;
}
.lower {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.title {
  position: absolute;
  font-family: stick;
  color: #005588;
  text-shadow: 2px 2px #001166;
  z-index: 0;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (min-width: 768px) {
  .name {
    bottom: 13vh;
  }
  .capital {
    font-size: 12em;
  }
  .lower {
    font-size: 5em;
  }
}
@media only screen and (min-width: 1366px) {
  .name {
    bottom: 12vh;
  }
  .capital {
    font-size: 16em;
  }
  .lower {
    font-size: 8em;
  }
}
@media only screen and (min-width: 1920px) {
  .name {
    bottom: 10vh;
  }
  .capital {
    font-size: 20em;
  }
  .lower {
    font-size: 10em;
  }
}